{% extends 'base.html' %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock title %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/detail.css' %}">
{% endblock styles %}


{% block content %}
<section>
  <article>
    <img src="{{ user.avatar_url }}" alt="{{ user.first_name }} {{ user.last_name }}" />
  </article>

  <article>
    <div class="name">
      <h2>Nome</h2>
      <p>{{ user.first_name }} {{ user.last_name }}</p>
    </div>

    <div class="age">
      <h2>Idade</h2>
      <p>{{ user.age }} anos</p>
    </div>

    <div class="email">
      <h2>E-mail</h2>
      <p>{{ user.email }}</p>
    </div>

    <div class="bio">
      <h2>Bio</h2>
      <p>{{ user.bio }}</p>
    </div>
  </article>
</section>
{% endblock content %}